body {
    margin: 0;
    padding: 0;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header,
.hero {
    color: #f9faf8;
    background-color: #1f2937;
    display: flex;
    width: 100%;
}

.container {
    width: 1200px;
    margin: auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    padding: 24px 0px;
    font-size: 24px;
    font-weight: 900;
}

.nav {
    list-style: none;
    display: flex;
    gap: 16px;
}

p {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
}

h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    margin: 0;
}

h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    margin: 0;
}

h3 {
    font-size: 24px;
    font-weight: 900;
    color: #f9faf8;
    margin: 0;
}

.nav a {
    text-decoration: none;
    color: #E5E7EB;
}

.hero-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 64px 20px;
    gap: 3rem;
}

.hero-content {
    padding: 64px 0px;
    flex: 0 1 40%;
}

.hero-img {
    height: auto;
    width: 100%;
}

.btn-main {
    background-color: #3882F6;
    border: 3px solid #3882F6;
    padding: 8px 32px;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #f9faf8;
    margin: 12px 0px;
    cursor: pointer;
    flex-shrink: 0;
}

.btn-main:hover {
    background-color: #2771e5;
    border-color: #2771e5;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    padding: 5% 20px;
}

.cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
}

.card {
    flex: 0 1 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.card-img {
    width: 160px;
    aspect-ratio: 1 / 1;
    border: 4px solid #3882F6;
    border-radius: 12px;
}

.card-text {
    color: #68717d;
    text-align: center;
}

.quote {
    background-color: #E5E7EB;
}

.quote-container {
    max-width: 60%;
    margin: 0 auto;
    padding: 10% 22%;
}

.quote-text {
    font-size: 36px;
    color: #1F2937;
    font-weight: 200;
    font-style: italic;
}

.quote-author {
    font-size: 24px;
    color: #1F2937;
    font-weight: 700;
    text-align: right;
}

.cta {
    display: flex;
    padding: 5% 20px;
    align-items: center;
    justify-content: center;
}

.cta-box {
    background-color: #3882F6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
    border-radius: 8px;
    padding: 4rem 8rem;
}

.btn-main-reverse {
    border-color: #f9faf8;
    color: #f9faf8;
}

.btn-main-reverse:hover {
    background-color: #2771e5;
    border-color: #f9faf8;
}

.footer {
    background-color: #1F2937;
    text-align: center;
    padding: 40px 20px;
}

@media (max-width: 900px) {
    .hero-inner {
        flex-direction: column;
        padding: 48px 20px;
        gap: 0;
    }

    .hero-content {
        flex-basis: 100%;
        padding: 24px 0;
        text-align: center;
    }

    .cta-box {
        padding: 2rem;
        gap: 1.5rem;
        flex-direction: column;
        text-align: center;
        gap: 1rem;
    }

    .quote-text {
        font-size: 28px;
        margin-bottom: 8px;
    }

    .information {
        text-align: center;
    }
}